<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673314892396-ju5faup08cqdoafp0h4t1refh6oeup1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673314892396-ju5faup08cqdoafp0h4t1refh6oeup1e</string>
	<key>API_KEY</key>
	<string>AIzaSyBneGhkPSgc_E4YbC4rJnEQ79zbVsc22mg</string>
	<key>GCM_SENDER_ID</key>
	<string>673314892396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eslEcommerce</string>
	<key>PROJECT_ID</key>
	<string>esl-ecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>esl-ecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673314892396:ios:b037b391fd8154eea38649</string>
</dict>
</plist>